MQTT_BROKER_URL=mqtts://5a86e38080744eb89c62cd93cf7b9249.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=raouf
MQTT_PASSWORD=raouf2003
DEVICE_NAME=smarthome
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/stees?retryWrites=true&w=majority
JWT_SECRET=change-this-to-a-random-string-in-production
JWT_EXPIRES_IN=30d
