# MQTT broker URL (e.g. mqtt://localhost:1883, mqtts://broker.hivemq.cloud:8883)
MQTT_BROKER_URL=mqtts://5a86e38080744eb89c62cd93cf7b9249.s1.eu.hivemq.cloud:8883

# MQTT credentials (required for cloud brokers like HiveMQ)
MQTT_USERNAME=raouf
MQTT_PASSWORD=raouf2003

# Tasmota device group topic
DEVICE_NAME=smarthome